body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    font-variation-settings:
        "wdth" 100;
    min-height: 100vh;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: #333333;
}

@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-VariableFont_wdth\,wght.ttf");
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    unicode-range: U +0460 -052F, U +1C80 -1C8A, U +20B4, U +2DE0 -2DFF, U + A640-A69F, U + FE2E-FE2F;
}

* {
    box-sizing: border-box;
}

.rss {
    width: 120px;
    height: 45px;
}

.footer {
    padding: 20px;
}

footer {
    display: block;
    unicode-bidi: isolate;
    background-color: #e7e8e6;
    ;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: #333333;
    text-decoration: underline;
    cursor: pointer;
}

.contacts-link {
    color: #333333;
    text-decoration: underline;
    cursor: pointer;
}

.header {
    display: block;
    unicode-bidi: isolate;
    background-color: #e7e8e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    padding: 0 20px;
    max-width: 1440px;
    min-height: 50px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favicon {
    width: 100px;
    height: 100px;
}

.section-profile {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
}

.profile-avatar {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #333333;
}

.section-profile-title {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    justify-content: center;
    padding: 0 20px;
}

.profile-main {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

.profile-left {
    flex: 1;
    max-width: 400px;
}

.profile-right {
    flex: 2;
}

.profile-left section,
.profile-right section {
    margin-bottom: 30px;
}